.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.home_header a {
  margin-right: 20px;
  font-size: 15px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
}

.home_header a:hover {
  text-decoration: underline;
}
