.search_input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 800px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search_input > input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  font-size: medium;
}

.search_input > input:focus {
  outline-width: 0;
}
